body{
  /*background: url('https://i.pinimg.com/originals/43/95/9c/43959cf118a8a34f9e01637dc11ef3e1.jpg') fixed;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;*/
}


