body{
  background: url('https://static.wixstatic.com/media/054cbc_736659f4f91b4b35955ad937f1fa568a.jpg') no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.container{
  color: #333;
  font-size:1.2em;
}

/*.parallax-container {
  height: "600px";
}*/

h1{
  font-size: 40px;
  text-align: center;
}

.left{
  float: left;
}

.middle{
  text-align: center;
}

.right{
  margin-left: 30vh;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.overlay{
  /*border: 1px solid white;*/
  margin: auto;
  margin-top: 150px;
  text-align:center;
  width: 50%;
  color: white;
}

.width85{
  margin: 0 auto;
  width: 85vh; 
}

.width60{
  margin: 0 auto;
  width: 60vh;
}

.index1{
  z-index: 2;
}